@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  --background: #ffffff;
  --foreground: #171717;
  --primary-rgb: 147, 51, 234;
  --accent-rgb: 249, 115, 22;
  --secondary-rgb: 71, 85, 105;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  cursor: none;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background: theme('colors.primary.DEFAULT');
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s;
}

.cursor-ring {
  width: 25px;
  height: 25px;
  border: 2px solid theme('colors.accent.light');
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transform: translate3d(0, 0, 0);
  transition: all 0.15s ease-out;
  margin-left: -10px;
  margin-top: -10px;
}

.cursor-ring.hover {
  width: 40px;
  height: 40px;
  margin-left: -17.5px;
  margin-top: -17.5px;
  border-color: theme('colors.primary.muted');
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background: rgb(168, 124, 124);
  /* primary color */
  opacity: 0.5;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.1s ease-out;
}

.custom-cursor.hover {
  transform: scale(1.5);
  background: rgb(180, 140, 140);
  /* accent-light color */
}

/* Hide cursor on touch devices */
@media (hover: none) {

  .cursor-dot,
  .cursor-ring {
    display: none;
  }

  body {
    cursor: auto;
  }
}